<!-- templates/consent.html-->
{% extends 'litw_base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block content %}

<div class="mb-3">
    <h1 class="LITWbolded-blue"> Instructions </h1>
  </div>

  <p> During the experiment, you will be shown a news article and instructed to highlight specific sentences in the article. At the bottom of the article will be questions about the article. Please read the article and answer the questions. </p>

  <!-- <p class="mt-3"><strong> How to highlight sentences </strong></p>
  <p> During the expirement you will be shown a news article, to the side of the news article will be instructions on which sentences to highlight in the article. Please follow these instructions for highlighting sentences. </p> -->
  <p class="mt-3"><strong>Please highlight full sentences in the article. </strong> If there are two or more sentences next to each other that both fit the instructions for highlighting, please highlight and label them <strong> together </strong>. </p>

  <p> A sentence can fall into multiple categories, in which case highlight it once for each category. </p>

  <a  href="{% url 'article-response-form' pk=pk %}" class="btn btn-primary" id="approve-irb-continue">Continue</a>

</div>

{% endblock %}