{% extends 'litw_base.html' %}

{% block title %}Definition{% endblock %}

{% load widget_tweaks %}

{% block content %}

<div class="container">


<div class="m-4 row justify-content-md-center">
  <p class='lead'> You are currently on section: {{ request.session.defCount }} / {{ request.session.maxDefCount }} </p>
</div>

	<div class="row">
      	<div class="col-8">
       		<div class="panel panel-info mt-3">
       			<div class="panel-heading"> Instructions </div>
       			<div class="panel-body show"> 
       				<strong> Please read the following text and answer the questions below. </strong>

              {% if form.complexity_rating is not None %}
                <p> When rating definitions, please focus on unfamiliar terms or very long, complicated sentences, not grammar.  </p> 
                <p> If a definition's text only says 'nan', please rate it as <strong> Very </strong> complex and <strong> Very </strong> hard to understand.  </p>      
              {% endif %}
              <!-- <hr style="border-top: dotted 1px;" /> -->
              <!-- {% if form.relevancy_rating is not None %}
                <p> <strong> Context: </strong> {{ object.context_sentence }} </p>                
              {% endif %} -->
       			</div>
        	</div>
    	</div>
	</div>

  <div class="row mt-5 mb-5">
        <div class="col-8">
          <div class="panel panel-info mt-3">
            <!-- <div class="panel-heading"> Term & Definition </div> -->
            <div class="panel-body show"> 
              <p> <strong> Term: </strong> {{ object.term.term_text }} </p>
              <p> <strong> Definition: </strong> {{ object.def_text }} </p>
            </div>
          </div>
      </div>
  </div>





	<div class="row">
		<div class="col-8">
			<form method="post", id='snippetForm'>
          {% csrf_token %}
          {% if form.relevancy_rating is not None %}
      			{% include 'definitions/sections/form_field_likert.html' with form=form field=form.fluency_rating is_likert=True %}
            {% include 'definitions/sections/form_field_likert.html' with form=form field=form.relevancy_rating is_likert=True %}
          {% elif form.complexity_rating is not None %}
            {% include 'definitions/sections/form_field_likert.html' with form=form field=form.complexity_rating is_likert=True %}
            {% include 'definitions/sections/form_field_likert.html' with form=form field=form.understand_rating is_likert=True %}
          {% endif %}
          <br>
          <div class="row ml-3 mt-3">
              <button id='submitButton' type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
		</div>
	</div>
</div>


{% endblock %}
