{% extends 'litw_base.html' %}

{% block title %}Definition{% endblock %}

{% load widget_tweaks %}

{% block content %}

<div class="container">
    <div class="row mt-3 mb-3">
        <h2>Instructions</h2>
    </div>
   	{% if response_type == 'FLUENCY' %}
	    <div class="row"> <p> You will be given terms with their definitions and asked to rate how fluent and relevent to the term the definition is. </p> </div>

	    <div class="row"> <p> You will be asked to rate the fluency and relevance of the definition on a scale from <strong> Not at all </strong> fluent or relevant to <strong> Very </strong> fluent or relevant.  </p> </div>

	    <div class="row"> <p class='lead mt-2 mb-2'> Examples of very fluent definitions: </p> </div>
			<p> <strong> Term: </strong> wattmeter </p>
			<p> <strong> Definition: </strong> An instrument that measures electrical power. </p>
			
			<br>   	

			<p> <strong> Term: </strong> Chronic fatigue syndrome </p>
			<p> <strong> Definition: </strong> Chronic fatigue syndrome, also known as systemic exertion intolerance disease, is a condition that causes extreme, long-lasting fatigue which can limit the ability to participate in ordinary, daily activities. </p>

			<br>

		<div class="row"> <p class='lead mt-2 mb-2'> Examples of not at all fluent definitions: </p> </div>

			<p> <strong> Term: </strong> Parkes Weber syndrome </p>
			<p> <strong> Definition: </strong> Parkinsurance~damage of the skin </p>

			<br>   		

			<p> <strong> Term: </strong> Cardinal directions </p>
			<p> <strong> Definition: </strong> See cardinal directions.=e.g. </p>

	{% elif response_type == 'COMPLEXITY' %}
		<div class="row"> <p> You will be given 3 terms with their definitions and asked to rate how complicated and understandable the definitions are. </p> </div>

	    <div class="row"> <p> You will be asked to rate the how complicated and understandable the definition is on a scale from <strong> Not at all </strong> to <strong> Very</strong>. </p> </div>


	    <div class="row"> <p class='lead mt-2 mb-2'> Examples of very complicated definitions: </p> </div>
			<!-- <p> <strong> Term: </strong> Convolutional Neural Network </p>
			<p> <strong> Definition: </strong> In deep learning, a convolutional neural network (CNN, or ConvNet) is a class of deep neural networks, most commonly applied to analyzing visual imagery. </p> -->

			<p> <strong> Term: </strong> Acanthoma </p>
			<p> <strong> Definition: </strong> An acanthoma is a skin neoplasm composed of squamous or epidermal cells. It is located in the prickle cell layer. </p>

			<br>  

			<p> <strong> Term: </strong> Transformer </p>
			<p> <strong> Definition: </strong> The Transformer is a deep learning model architecture relying entirely on an attention mechanism to draw global dependencies between input and output. </p>	

			 
			
			<br>   	

	
		<div class="row"> <p class='lead mt-2 mb-2'> Examples of not at all complicated definitions: </p> </div>

			<!-- <p> <strong> Term: </strong> Convolutional Neural Network </p>
			<p> <strong> Definition: </strong> A convolutional neural network (CNN, or ConvNet) is a program used by computers to see things in the real world. </p> -->

			<p> <strong> Term: </strong> Acanthoma </p>
			<p> <strong> Definition: </strong> An acanthoma is a small, reddish bump that usually develops on the skin of an older adult. </p>

			<br>  
			
			<p> <strong> Term: </strong> Transformer </p>
			<p> <strong> Definition: </strong> The Transformer is a program used by computers to weigh the importance of different parts of data. </p>

			

			<br>   	

	{% elif response_type == 'FACT' %}

		<div class="row"> <p> You will be given terms with their definitions and asked to rate how factual the definition is. </p> </div>

	    <div class="row"> <p> You will be asked to mark if a definition contains factually incorrect information and rate how extensive these factual errors are from <strong> Not at all </strong> to <strong> Very</strong>.</p> </div>

	    <div class="row"> <p> A correct reference definition is given below each definition, which you can use to assess the factuality of the definition you are rating. If you are unsure if a definition is factual or not, you can also use the internet.</p> </div>

	    <div class="row"> <p> A definition th </p> </div>

	    <div class="row"> <p class='lead mt-2 mb-2'> Example of not at all extensive errors for a factually incorrect definition: </p> </div>
			<p> <strong> Term: </strong> Magnetic field </p>
			<p> <strong> Definition: </strong> An object that causes magnets and currents to experience forces. (The field is not an object) </p>

		<div class="row"> <p class='lead mt-2 mb-2'> Example of very extensive factual errors: </p> </div>

			<p> <strong> Term: </strong> Magnetic field </p>
			<p> <strong> Definition: </strong> A large object that causes exerts electrical currents on the ground. (The field is not a large object, nor does it exert electrical currents. There is also nothing specific about the ground for a magnetic field.)</p>


	{% endif %}

	<strong> Please do not press the back button while taking this task. </strong>
	<div class="row m-5">
        <a href="{% url 'definition-form' pk=pk %}" id='next-button' class="btn btn-primary">Continue to task</a>
    </div>
</div>

  


{% endblock %}
