{% extends 'litw_base.html' %}

{% block title %}Comments{% endblock %}

{% load widget_tweaks %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="card mt-4">
        	{% if completed %}
	            <div class="card-header">
	                <h2>Thank you for participating in our task!</h2>
	            </div>
	            <div class="card-body">
	                <p> Here is the code to enter to receive credit for the task: <strong> {{ code }}</strong>. </p>
            {% else %}
            	<div class="card-header">
	                <h2>HIT incomplete</h2>
	            </div>
	            <div class="card-body">
	                <p> It looks like this HIT hasn't been completed yet, please make sure you filled in all sections of the study. Thank you. </p>
            {% endif %}


		            	<p> <strong> Please remember that you can only complete the task once. </strong> </p>

						<br> 

						<p> This study explores how science news articles, blogs, and press releases communicate new scientific findings to a diverse audience of readers. By analyzing scientific communication books and training materials, we identified writing strategies that are recommended for science writing, like explaining scientific concepts or using analogies. </p>
						<p> We are studying how different people understand definitions of scientific terms. Your responses will help us identify how to write effective definitions for a diverse audience of readers. Thank you! </p>	
						<p> If you are interested in learning more, check out these great resources: </p>

						<ul> 
							<li> <a href="https://www.reddit.com/r/science"> r/Science </a>: A forum dedicated to communicating and discussing scientific topics. </li>
							<li> <a href="https://en.wikipedia.org/wiki/Science_communication"> Wikipedia on science communication. </a> </li>
						</ul>

				</div>



        </div>
    </div>
</div>

{% endblock %}