<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Annotation Test Site</title>
  {% load staticfiles %}
  {% load widget_tweaks %}

  <link rel="stylesheet" href="{% static 'annotationAPI/css/bootstrap.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'annotationAPI/css/annotator.min.css' %}">   
  <script type="text/javascript" src="{% static 'annotationAPI/js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'annotationAPI/js/bootstrap.bundle.js' %}"></script>
  <link href="https://s3.amazonaws.com/mturk-public/bs30/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <main>

    <section class="container mt-3" id="instructions">
        <div class="panel panel-primary">
        <div class="panel-heading"><strong>Instructions</strong>
        </div>
        <div class="panel-body">
          <p>In this task, you will be asked to do the following:</p>
          <ol><li><strong>Read a news article</strong> about a medical or scientific finding.</li>
            <li><strong>Highlight sentences</strong> of the news article and answer questions about the article.</li>
            <li>Answer a set of <strong>demographic</strong> questions.</li>
          </ol>
          <p>We expect parts 1-3 (required) to take approx. 10 minutes to complete total.</p>
          <p> <strong> Please highlight full sentences </strong> in the article. If there are two sentences next to each other that both fit the instructions, please highlight and label each <strong> separately</strong>. A sentence can fall into multiple categories, in which case highlight it once for each category. </p> 

          <!-- <p>❗ <em><strong>Note:</strong> this is a multi-page task that should be completed in one sitting. You will not be able to look at the news article for some of the questions, and <strong>you cannot go back after completing each part of the study</strong>. That is, please read and answer questions carefully!</em></p> -->
          <p>⛔ <em><strong>Participation restriction:</strong> providers/turkers for this task cannot currently be an employee or student at the University of Washington.</em></p>
          <p>Thank you!</p>
          <div class="panel panel-default"><div class="panel-heading"><strong>Additional study instructions and details</strong> <a id="toggle-study-details" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#study-details" role="button" aria-expanded="false" aria-controls="study-details"><span class="btn-text">Expand/collapse</span></a></div>
          <div class="panel-body collapse" id="study-details">             
            <h5>Research motivation</h5>
            <p>We are studying what people pick up on when reading news about scientific and medical findings.</p>
            <h5>Data collection &amp; sharing</h5>
            <p>We will not ask you for your name, and the data collected in this study will be made unidentifiable to the best of our ability. We will securely store the data on our servers and only share with qualified researchers. If you later decide that you do not want your responses included in this study, please email so we can exclude your work.</p>
            <p><small>If you have questions about your rights as a research participant, or wish to obtain information, ask questions or discuss any concerns about this study with someone other than the researcher(s), please contact the University of Washington Human Subjects Division at 206-543-0098 (for international calls include the US Calling Code: +1-206-543-0098).</small></p>
            <h5>FAQ</h5>
            <ul>
              <li><p><strong>Do I need to be a doctor or scientist to do this HIT?</strong></p>
              <p>No! People of all backgrounds are welcome to perform this study. Unlike many annotation tasks, we are not looking for the "correct" answer, just a good faith effort at reading and answering questions about the text.</p></li>


              <li><p><strong>How should I label the annotations?</strong></p>
                <p>The sections below will instruct you on how to label the annotations.</p>
              </li>

              <li><p><strong>Should I annotate a sentence that restates what I already annotated?</strong></p>
              <p>Yes! Please annotate all sentences that fit with the instructions given below.</p></li>

              <li><p><strong>What demographic information <em>will</em> be collected?</strong></p>
                <p>Age, gender, native language, and background/engagement in STEM subjects (science, technology, engineering, and math). We won't collect any personally identifying information (like your name).</p>
              </li>

              <li><p><strong>Will any of my responses be saved before I submit the HIT?</strong></p>
                <p>Your annotations will be saved and updated when you highlight sections of the article. As a result, please make sure you only highlight when asked to, and that all highlights you make are finalized when you hit the submit button.</p>
              </li>
              <li><p><strong>Can I do this HIT multiple times?</strong></p>
                <p>For now, no, though this study may inform related HITs in the future.</p></li>
              <li><p><strong>What if I have additional questions?</strong></p>
                <p>Please reach out to Tal August (taugust@cs.washington.edu). Thanks!</p>
              </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </section>
     <div class="container" id="HITcontainer">
      <div class="panel panel-info">
        <div class="panel-body">
        <p> Please read the article and then follow additional instructions for highlighting sections of the article below </p> 
        <p class="text text-left text-danger"> Required fields are marked with a *</p>
      </div>
      </div>

    <div class="row">

      <div class="col">

        <div class="card mt-4" id="storyContainer">
            <div class="card-header">
                <h2> {{ object.title }} </h2>
            </div>
            <div class="card-body">
              {{ object.text | linebreaks }}
             <!-- <p class="mt-2"> <a href={{object.uri}}> link </a>  </p> -->
            </div>
        </div>
      </div>
      <div class="col">

        <!-- For changing which type of annotation we are doing --> 
        {% if HITtype == 'paragraph_specific' %}
          {% include 'sections/HITform.html' with form=form %}
        {% elif HITtype == 'personal_and_stories' %}
          {% include 'sections/HITstoriesform.html' with form=form %}
        {% elif HITtype == 'explanation_and_analogies' %}
          {% include 'sections/HITExplanationAnalogyform.html' with form=form %}
        {% endif %}

        <!-- col -->
      </div>
      <!-- row --> 
    </div>
  </div>
  </main>
  <script src="{% static 'annotationAPI/js/annotator-full.min.js' %}"></script>
  <script> 

    // has to be outside document.ready
    $('#storyContainer').data('id', '{{object.id}}');   

    function showSelfDescribe(){
            $("#{{form.gender_self_describe.auto_id}}").show();
            $("label[for={{form.gender_self_describe.auto_id}}]").show();
    };
    function hideSelfDescribe(){
        $("#{{form.gender_self_describe.auto_id}}").hide();
        $("label[for={{form.gender_self_describe.auto_id}}]").hide();
    };

    $( document ).ready(function() {  
        hideSelfDescribe();    
        $("#{{form.gender.auto_id}}").change(function() {
            var selectedVal = $(this).find(':selected').val();
            var selectedText = $(this).find(':selected').text();

            if (selectedVal === 'SELF-DESCR'){ 
                showSelfDescribe();
            } else {
                hideSelfDescribe();
            }
        });
            
    });
  </script>
  <script src="{% static 'annotationAPI/js/annotation.js' %}"></script>

</body>
</html>
