<!-- Not extending another template because I think we need access do full document in the annotator.js scripts-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Annotation Test Site</title>
  {% load staticfiles %}
  {% load widget_tweaks %}

  <link rel="stylesheet" href="{% static 'annotationAPI/css/bootstrap.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'annotationAPI/css/annotator.min.css' %}">   
  <link rel="stylesheet" type="text/css" href="{% static 'annotationAPI/css/custom.css' %}">   

  <script type="text/javascript" src="{% static 'annotationAPI/js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'annotationAPI/js/bootstrap.bundle.js' %}"></script>

  <link href="https://s3.amazonaws.com/mturk-public/bs30/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <main>

  <div class="container LITWfont">
    <div id="header" class="row mt-5">
      <a href="http://www.labinthewild.org">
        <img class="img-fluid w-25" src="{% static 'annotationAPI/img/LITW.png' %}" alt="logo" id="logo">
      </a>
    <div class="separator">&nbsp;</div>
  </div>

  <div class="mb-3">
    <h1 class="LITWbolded-blue"> Instructions </h1>
  </div>
<!-- 
 <ol><li class="mt-3">Read a news article about a scientific finding.</li> 
    <li class="mt-3">Highlight sentences of the news article and answer questions about the article.</li>
    <li class="mt-3">Answer a set of demographic questions.</li>
  </ol> -->

  <p> During the experiment, you will be shown a news article. To the side of the article will be questions about the article. Some questions will ask you to highlight parts of the article. Please read the article and follow the instructions and questions to the side of the article. </p>

  <!-- <p class="mt-3"><strong> How to highlight sentences </strong></p>
  <p> During the expirement you will be shown a news article, to the side of the news article will be instructions on which sentences to highlight in the article. Please follow these instructions for highlighting sentences. </p> -->
  <p class="mt-3"><strong>Please highlight full sentences in the article. </strong> If there are two or more sentences next to each other that both fit the instructions for highlighting, please highlight and label them <strong> together </strong>. </p>

  <p> A sentence can fall into multiple categories, in which case highlight it once for each category. </p>
  <p class="text text-left text-danger"> Required fields are marked with a *</p>
</div>


     <div class="container LITWfont" id="HITcontainer">
      <!-- <div class="panel panel-info">
        <div class="panel-body">
        <p> Please read the article and then follow additional instructions for highlighting sections of the article below </p> 
        <p class="text text-left text-danger"> Required fields are marked with a *</p>
      </div>
      </div> -->

    <div class="row">

      <div class="col">

        <div class="card mt-4" id="storyContainer">
            <div class="card-header">
                <h2> {{ object.title }} </h2>
            </div>
            <div class="card-body">
              {{ object.text | linebreaks }}
             <!-- <p class="mt-2"> <a href={{object.uri}}> link </a>  </p> -->
            </div>
        </div>
      </div>
      <div class="col">

        <!-- For changing which type of annotation we are doing --> 
        {% if HITtype == 'paragraph_specific' %}
          {% include 'sections/HITParagraph.html' with form=form %}
        {% elif HITtype == 'personal_and_stories' %}
          {% include 'sections/HITstoriesform.html' with form=form %}
        {% elif HITtype == 'explanation_and_analogies' %}
          {% include 'sections/HITExplanationAnalogyform.html' with form=form %}
        {% elif HITtype == 'all' %}
          {% include 'sections/HITform.html' with form=form %}
        {% endif %}

        

        <!-- col -->
      </div>
      <!-- row --> 
    </div>
  </div>
  </main>
  <script src="{% static 'annotationAPI/js/annotator-full.min.js' %}"></script>
  <script> 

    // has to be outside document.ready
    $('#storyContainer').data('id', '{{object.id}}');   

    function showSelfDescribe(){
            $("#{{form.gender_self_describe.auto_id}}").show();
            $("label[for={{form.gender_self_describe.auto_id}}]").show();
    };
    function hideSelfDescribe(){
        $("#{{form.gender_self_describe.auto_id}}").hide();
        $("label[for={{form.gender_self_describe.auto_id}}]").hide();
    };


    $( document ).ready(function() {  
        hideSelfDescribe();    
        $("#{{form.gender.auto_id}}").change(function() {
            var selectedVal = $(this).find(':selected').val();
            var selectedText = $(this).find(':selected').text();

            if (selectedVal === 'SELF-DESCR'){ 
                showSelfDescribe();
            } else {
                hideSelfDescribe();
            }
        });
            
    });
  </script>
  <script src="{% static 'annotationAPI/js/annotation.js' %}"></script>

</body>
</html>
